In [6]:
import pandas as pd

titanic_df = pd.read_csv('./titanic_train.csv')
pd.set_option('display.max_columns', 20)



titanic_groupby = titanic_df.groupby('Pclass').sum()
print(titanic_groupby)

titanic_df.isna().sum()

        PassengerId  Survived      Age  SibSp  Parch        Fare
Pclass
1             99705       136  7111.42     90     77  18177.4125
2             82056        87  5168.83     74     70   3801.8417
3            215625       119  8924.92    302    193   6714.6951

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64